// Brand colors

$white_brand: #ffffff;
$green_brand: #98ca3d;

// Action colors

$primary_action: #abe542;

$secondary_action: #8f97a2;

// Boolean colors

$positive: #15ff93;

$negative: #f04f8d;

// Backgrounds

$background_blue: #233946;

//Basic colors

$white_normal: #f9f9f9;

$black_normal: #1c1d21;
